.sub-collection-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms ease-in-out;
}

.sub-collection {
  display: grid;
  gap: 16px;
  overflow: hidden;
}

.sub-collection-expanded {
  grid-template-rows: 1fr;
}

.task-collection.all-tasks {
  padding-top: var(--header-content-spacing);
}
