.task-collection {
  --task-collection-padding: 16px;
  padding: var(--task-collection-padding);
  height: 100%;
  overflow-y: scroll;
}
.task-wrapper {
  display: grid;
  grid-template-columns: 13.5px 1fr;
  margin-bottom: 1rem;
  position: relative;
}

.task-wrapper
  :where(button, input[type="date"]::-webkit-calendar-picker-indicator) {
  cursor: pointer;
}

.priority-panel {
  background-color: var(--priority-bg);
  display: grid;
  place-items: center left;
  border: 1.25px solid var(--priority-border);
}

.inner-div {
  border: inherit;
  border-left: none;
  width: 75%;
  height: 4px;
}

.no-priority {
  --priority-border: hsl(4, 51%, 50%);
  --priority-bg: hsl(3, 54%, 33%);
}

.low-priority {
  --priority-border: #c2c2c2;
  --priority-bg: hsl(35, 5%, 48%);
}

.medium-priority {
  --priority-border: hsl(171, 37%, 70%);
  --priority-bg: rgb(46, 116, 125);
}

.high-priority {
  --priority-border: #eebb5b;
  --priority-bg: rgb(182, 117, 57);
}

.task-content {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr;
  padding: 0.75em 0.5em;
  background-color: rgb(49, 2, 3);
}

.task-content :is(input, textarea, button) {
  text-transform: uppercase;
}

input[type="text"],
textarea {
  background-color: transparent;
}

.task-content input:not(input[type="checkbox"]),
.task-content button {
  color: var(--cyber-red-text);
}

.task-content.active .expandable-content-wrapper {
  grid-template-rows: 1fr;
}

.task-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #1d1218;
  margin: 0;
  font: inherit;
  color: rgb(166, 51, 46);
  width: 1.15em;
  height: 1.15em;
  border: 1px solid currentColor;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: 0px;
}

.task-checkbox::after {
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  position: absolute;
  background-color: rgb(120, 214, 204);
  opacity: 0;
  transition: opacity 100ms;
}

.task-checkbox:not(:checked):hover::after,
.task-checkbox:not(:checked):focus-visible::after {
  opacity: 1;
}

.task-checkbox::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em #78d6cc;
  background-color: CanvasText;
  clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
}

.task-checkbox:checked::before {
  transform: scale(1);
}

.task-checkbox:focus-visible {
  outline: max(2px, 0.1em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.task-input {
  font-size: inherit;
  border: none;
  min-width: 6ch;
  text-shadow: 0.01em 0.01em 0.15em hsla(0, 100%, 61%, 0.4);
}

.task-input:focus,
.task-input:active {
  outline: none;
}

.task-notes {
  height: 1.3lh;
  min-height: 1.3lh;
  min-width: 5ch;
  resize: none;
  overflow: hidden;
  outline: none;
  font-family: inherit;
  font-size: 0.7125rem;
  color: hsl(0, 0%, 80%, 90%);
  text-shadow: 0px 0px 1px hsl(0, 0%, 85%);
  border: none;
  margin-top: 0.25em;
}

.task-notes::placeholder {
  color: inherit;
}

.date-wrapper {
  width: max-content;
}

input[type="date"] {
  min-width: 0;
  border: none;
  background-color: #1d1218;
  padding: 0.5em 1.5em;
  transition: inherit;
  border-radius: 0px;
}

::-webkit-calendar-picker-indicator {
  filter: brightness(0) saturate(100%) invert(27%) sepia(77%) saturate(7127%)
    hue-rotate(344deg) brightness(91%) contrast(95%);
  transition: filter 250ms ease-in-out;
}

::-webkit-calendar-picker-indicator:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(5342%)
    hue-rotate(143deg) brightness(86%) contrast(94%);
}

.expandable-content-wrapper {
  grid-column: 2;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 200ms;
}

.expandable-content {
  display: grid;
  overflow: hidden;
  row-gap: 0.25rem;
}

.more-options {
  display: flex;
  gap: 0.5rem;
}

.more-options > div {
  display: grid;
}

.more-options > div > *,
.priority-menu-option {
  font-size: 0.8125rem;
  background-color: rgb(25, 0, 0);
}

.cyberpunk-clip-wrapper-br {
  clip-path: var(--cyberpunk-clip-br);
  background-color: var(--cyber-red-neon-bg);
  padding: 0.5px;
  overflow: hidden;
  transition: background-color 200ms;
}

.inner-cyberpunk-clip-wrapper-br {
  clip-path: var(--cyberpunk-clip-br);
}

.date-wrapper:hover .task-date,
.date-wrapper.focused .task-date,
.priority-btn-wrapper:hover .task-priority,
.priority-btn-wrapper:focus .task-priority,
.priority-menu-option:hover,
.priority-menu-option:focus-within {
  background-color: hsl(0, 65%, 20%);
  outline: none;
  border: none;
}

/******** Priority button and Priority menu styles ********/
.task-priority {
  border: none;
  padding: 0.5em 1.5em;
  transition: inherit;
}

.priority-btn-wrapper {
  position: relative;
}

.priority-menu-wrapper {
  width: max-content;
  margin: 0;
  inset: auto;
  position: absolute;
  bottom: anchor(top);
  right: anchor(right);
  transform: translateY(-10px);
}

.priority-menu-wrapper:popover-open {
  border: none;
  outline: none;
}

.priority-menu {
  display: grid;
}

.priority-menu-option {
  border: none;
  color: var(--cyber-red-neon-bg);
  padding: 0.5em 1.5em;
  transition: background-color 100ms ease-in-out;
}

.priority-menu-option:hover {
  background-color: hsl(0, 65%, 20%);
}

.priority-menu-option.medium-priority:hover {
  background-color: rgb(46, 116, 125);
  color: hsl(171, 37%, 70%);
}

.priority-menu-option.low-priority:hover {
  background-color: hsl(35, 5%, 48%);
  color: #c2c2c2;
}

.priority-menu-option.high-priority:hover {
  background-color: rgb(182, 117, 57);
  color: #eebb5b;
}

.priority-menu-option:last-child {
  overflow: hidden;
}

.menu-spacer {
  display: block;
  display: flex;
  align-items: center;
}

.menu-spacer::after {
  content: "";
  inset: 0;
  display: block;
  height: 1px;
  background-color: var(--cyber-red-neon-bg);
}

@media only screen and (min-width: 355px) {
  .priority-menu-wrapper {
    bottom: anchor(top);
    left: anchor(left);
    transform: translateY(-10px) translateX(-18%);
  }
}

@media (min-width: 41.875rem) {
  .task-collection {
    grid-column: 2;
    grid-row: 2;
    padding: calc(var(--task-collection-padding) * 2);
  }
}
