.task-collection {
  --task-collection-padding: 16px;
  padding: var(--task-collection-padding);
  height: 100%;
}

.task-wrapper {
  display: grid;
  grid-template-columns: 13.5px 1fr;
  margin-bottom: 1rem;
  position: relative;
}

.task-wrapper:hover .delete-svg-wrapper {
  display: grid;
}

.task-wrapper
  :where(button, input[type="date"]::-webkit-calendar-picker-indicator) {
  cursor: pointer;
}

.priority-panel {
  background-color: var(--priority-bg);
  display: grid;
  place-items: center left;
  border: 1.25px solid var(--priority-border);
}

.inner-div {
  border: inherit;
  border-left: none;
  width: 75%;
  height: 4px;
}

.task-content {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto 1fr;
  padding: 0.75em 0.5em;
  background-color: rgb(49, 2, 3);
}

.task-content :is(input, textarea, button) {
  text-transform: uppercase;
}

input[type="text"],
textarea {
  background-color: transparent;
}

.task-content input:not(input[type="checkbox"]),
.task-content button {
  color: var(--cyber-red-text);
}

.task-content.active .expandable-content-wrapper {
  grid-template-rows: 1fr;
}

.task-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #1d1218;
  margin: 0;
  font: inherit;
  color: rgb(166, 51, 46);
  width: 1.15em;
  height: 1.15em;
  border: 1px solid currentColor;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: 0px;
}

.task-checkbox::after {
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  position: absolute;
  background-color: rgb(120, 214, 204);
  opacity: 0;
  transition: opacity 100ms;
}

.task-checkbox:not(:checked):hover::after,
.task-checkbox:not(:checked):focus-visible::after {
  opacity: 1;
}

.task-checkbox::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em #78d6cc;
  background-color: CanvasText;
  clip-path: polygon(28% 38%, 41% 53%, 75% 24%, 86% 38%, 40% 78%, 15% 50%);
}

.task-checkbox:checked::before {
  transform: scale(1);
}

.task-checkbox:focus-visible {
  outline: max(2px, 0.1em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-svg-wrapper {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  display: none;
  margin-right: 4px;
  position: relative;
  cursor: pointer;
}

.delete-svg-wrapper:hover::after {
  display: block;
  background-color: hsla(3, 100%, 50%, 0.2);
  border: 1px solid var(--cyber-red);
}

.delete-svg-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  --extra-spacing: 20%;
  --x-divisor: 2.4;
  --y-divisor: 2.2;
  width: calc(100% + var(--extra-spacing));
  height: calc(100% + var(--extra-spacing));
  transform: translate(
    calc((var(--extra-spacing) / var(--x-divisor)) * -1),
    calc((var(--extra-spacing) / var(--y-divisor)) * -1)
  );
  border: 1px solid var(--cyber-red);
  transition: background-color 100ms;
  z-index: -1;
}

.delete-svg-wrapper::before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='14px' height='14px' viewBox='0 -0.5 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Dribbble-Light-Preview' transform='translate(-419.000000, -240.000000)' fill='rgb(228, 27, 51)'%3E%3Cg id='icons' transform='translate(56.000000, 160.000000)'%3E%3Cpolygon id='close-%5B%231511%5D' points='375.0183 90 384 98.554 382.48065 100 373.5 91.446 364.5183 100 363 98.554 371.98065 90 363 81.446 364.5183 80 373.5 88.554 382.48065 80 384 81.446'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: grid;
  place-items: center;
}

.task-input {
  font-size: inherit;
  border: none;
  min-width: 6ch;
  text-shadow: 0.01em 0.01em 0.15em hsla(0, 100%, 61%, 0.4);
}

.task-input:focus,
.task-input:active {
  outline: none;
}

.task-notes {
  min-height: 1.3lh;
  min-width: 5ch;
  resize: none;
  overflow: hidden;
  outline: none;
  font-family: inherit;
  font-size: 0.7125rem;
  color: hsl(0, 0%, 80%, 90%);
  text-shadow: 0px 0px 1px hsl(0, 0%, 85%);
  border: none;
  margin-top: 0.25em;
}

.task-notes::placeholder {
  color: inherit;
}

.date-wrapper {
  width: max-content;
}

input[type="date"] {
  min-width: 0;
  border: none;
  background-color: #1d1218;
  padding: 0.5em 1.5em;
  transition: inherit;
  border-radius: 0px;
}

.expandable-content-wrapper {
  grid-column: 2;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 100ms;
}

.expandable-content {
  display: grid;
  overflow: hidden;
  row-gap: 0.25rem;
}

.more-options {
  display: flex;
  gap: 0.5rem;
}

.more-options > div {
  display: grid;
}

.more-options > div > *,
.priority-menu-option {
  font-size: 0.8125rem;
  background-color: rgb(25, 0, 0);
}

.cyberpunk-clip-wrapper-br {
  clip-path: var(--cyberpunk-clip-br);
  background-color: var(--cyber-red-neon-bg);
  padding: 1px;
  overflow: hidden;
  transition: background-color 200ms;
}

.inner-cyberpunk-clip-wrapper-br {
  clip-path: var(--cyberpunk-clip-br);
}

.date-wrapper:hover .task-date,
.date-wrapper.focused .task-date,
.priority-btn-wrapper:hover .task-priority,
.priority-btn-wrapper.focused .task-priority {
  background-color: hsl(0, 65%, 20%);
  outline: none;
  border: none;
}

/******** Priority button and Priority menu styles ********/
.task-priority {
  border: none;
  padding: 0.5em 1.5em;
  transition: inherit;
}

.priority-btn-wrapper {
  position: relative;
}

.inner-cyberpunk-clip-wrapper-br.task-priority,
.cyberpunk-clip-wrapper-br.priority-btn-wrapper,
.inner-cyberpunk-clip-wrapper-br.task-date,
.cyberpunk-clip-wrapper-br.date-wrapper {
  clip-path: var(--cyberpunk-clip-br-md);
}

@media (min-width: 41.875rem) {
  .task-collection {
    grid-column: 2;
    grid-row: 2;
    padding: calc(var(--task-collection-padding) * 2);
  }
}
