.list-btn input[type="text"] {
  border: none;
  width: 17ch;
  color: inherit;
  outline: none;
  caret-color: hsl(48, 82%, 52%);
}

.list-btn-wrapper.my-list:has(.newList-input):hover {
  transform: none;
}

.list-btn-wrapper.my-list:has(.newList-input) .list-btn,
.list-btn-wrapper.my-list:has(.newList-input):hover .list-btn {
  background-color: var(--list-button-hover-bg);
  color: rgb(120, 214, 204);
  cursor: auto;
}

.list-btn-wrapper.my-list:has(.newList-input):hover polygon {
  stroke: rgb(120, 214, 204);
}
