.hamburger {
  width: 30px;
  display: grid;
  align-items: center;
  transition: background-color 200ms ease-in-out;
  border: none;
  background-color: transparent;
  margin: 0.5rem 1.5rem 0.5rem auto;
  z-index: 1;
}

.ham-line-wrapper {
  width: inherit;
  aspect-ratio: 1;
  display: inherit;
  padding: 5px;
}

.ham-line {
  height: 3px;
  background-color: var(--cyber-red);
  width: 100%;
  transition: background-color 200ms ease-in-out;
}

.header .hamburger {
  place-items: center;
  width: 60px;
  height: 100%;
  margin: 0px;
  background-color: var(--main-bg);
  border: 1px solid rgb(255, 97, 89);
}

.header .ham-line-wrapper {
  place-items: center;
  max-width: 40px;
}

.header .ham-line {
  background-color: rgb(255, 97, 89);
}

@media (min-width: 41.875rem) {
  aside .hamburger {
    display: none;
    visibility: hidden;
  }
}
