@font-face {
  font-family: "Rajdhani Bold";
  src: url("Rajdhani-Bold.woff2") format("woff2"),
    url("Rajdhani-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0912;
}

.header {
  display: grid;
  align-self: self-start;
  top: 0;
  position: sticky;
  grid-template-columns: 1fr auto;
  grid-row: 1;
  grid-column: 1/-1;
  --header-content-padding: 1rem;
  --header-row-gap: 16px;
  z-index: 100;
  border-right-color: transparent;
  text-align: center;
}

.header-title-wrapper {
  padding: var(--header-content-padding);
  padding-left: 60px;
  background-color: var(--header-bg);
  box-shadow: inset 0px 0px 100rem 5px rgb(255, 97, 89),
    0px 0px 8px 0px rgba(249, 115, 108, 0.71);
  max-height: var(--header-height);
}

.header-title {
  font-family: "Rajdhani Bold";
  line-height: 1;
  letter-spacing: -1px;
  padding-top: 2px;
  font-size: 1.85rem;
}
