.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  grid-row: 1;
  grid-column: 1/-1;
  --header-content-padding: 1rem;
  position: relative;
  row-gap: 16px;
}

.page-wrapper.desktop-sidebar .header {
  grid-column: 2;
}

.header-title {
  padding: var(--header-content-padding);
  background-color: rgb(249, 114, 108);
  box-shadow: inset 0px 0px 100rem 5px rgb(255, 97, 89),
    0px 0px 8px 0px rgba(249, 115, 108, 0.71);
}

nav {
  grid-column: 1/-1;
  padding: 0px 16px;
}

.page-wrapper:has(.side-panel .system-list-wrapper .focused-list)
  .header
  :where(nav) {
  display: none;
}

.page-wrapper:has(.side-panel .system-list-wrapper .focused-list) .header {
  row-gap: 0px;
}
