.list-btn-wrapper.my-list {
  display: block;
  min-width: 0px;
}

.list-element-title {
  display: grid;
  position: relative;
  transition: transform var(--list-btn-transition-speed) ease-in-out;
  align-self: self-start;
}

.hoverable-list-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 250ms 0ms ease-in-out; /* 0ms delay for closing */
}

.list-btn-wrapper.my-list:hover .hoverable-list-content-wrapper {
  grid-template-rows: 1fr;
  transition: grid-template-rows 250ms 500ms ease-in-out;
}

.list-btn-wrapper.my-list:has(.focused-list) .hoverable-list-content-wrapper {
  transition: grid-template-rows 250ms 0ms ease-in-out;
}

.hoverable-list-content {
  padding-top: 10px;
  overflow: hidden;
  display: flex;
  gap: 10px;
}

.list-btn-wrapper.my-list:hover .hoverable-list-content-wrapper {
  grid-template-rows: 1fr;
}

button[data-btn-type="edit-list"],
button[data-btn-type="delete-list"] {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  color: var(--main-bg);
  padding: 0.25em 0.2em 0.2em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Rajdhani";
  line-height: 1;
}

.list-btn-wrapper.my-list :where(.cyberpunk-clip-wrapper-br) {
  clip-path: var(--cyberpunk-clip-br-md);
}

.list-btn-wrapper.my-list :where(.cyberpunk-clip-wrapper-bl) {
  clip-path: var(--cyberpunk-clip-bl-md);
}

@media (pointer: coarse) {
  .list-btn-wrapper.my-list:hover .hoverable-list-content-wrapper {
    transition: grid-template-rows 250ms 100ms ease-in-out;
  }
}

.confirm-cancel-wrapper {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.list-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
