aside {
  grid-row: 1/-1;
  grid-column: 1;
  transform: translateX(-100%);
  --list-gap: 1rem;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--main-bg);
  z-index: 999;
  padding-bottom: 2rem;
  position: relative;
  isolation: isolate;
}

aside::before {
  content: "";
  background: linear-gradient(
      to right,
      hsla(353, 79%, 50%, 0.15) 10%,
      var(--main-bg)
    ),
    url("../../assets/svgs/sidebar-bg.svg");
  position: absolute;
  inset: 0;
  background-size: contain;
}

aside :where(label, .list-btn-wrapper) {
  padding: 0px 1.5rem;
}

.system-list-wrapper,
.mylist-wrapper {
  display: grid;
  gap: var(--list-gap);
}

.mylist-wrapper {
  grid-auto-rows: min-content;
}

.system-list-wrapper {
  margin-bottom: var(--list-gap);
}

.side-panel.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 65%;
  transform: translateX(-100%);
}

.side-panel.mobile.open {
  transform: translateX(0);
}

.side-panel.desktop {
  position: static;
  width: 17rem;
  transform: translateX(0);
}

.side-panel.desktop.hidden {
  transform: translateX(-100%);
}
