@font-face {
  font-family: "Rajdhani";
  src: url("Rajdhani-Regular.woff2") format("woff2"),
    url("Rajdhani-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-0912;
}

.priority-menu-wrapper {
  width: max-content;
  position: absolute;
  z-index: 999;
  display: none;
}

.open-menu {
  display: block;
}

.priority-menu {
  display: grid;
}

.priority-menu-option {
  border: none;
  color: var(--cyber-red-text);
  padding: 0.7em 1.5em;
  font-size: 0.9125rem;
  font-family: "Rajdhani";
  line-height: 1;
  background-color: rgb(25, 0, 0);
  transition: background-color 100ms ease-in-out;
}

.menu-spacer {
  display: block;
  display: flex;
  align-items: center;
}

.menu-spacer::after {
  content: "";
  inset: 0;
  display: block;
  height: 1px;
  background-color: var(--cyber-red-neon-bg);
}

.priority-menu-option:hover,
.priority-menu-option:focus-within {
  outline: none;
  border: none;
  background-color: hsl(0, 65%, 20%);
}

.no-priority {
  --priority-border: hsl(4, 51%, 50%);
  --priority-bg: hsl(3, 54%, 33%);
}

.low-priority {
  --priority-border: #c2c2c2;
  --priority-bg: hsl(35, 5%, 48%);
}

.medium-priority {
  --priority-border: hsl(171, 37%, 70%);
  --priority-bg: rgb(46, 116, 125);
}

.high-priority {
  --priority-border: #eebb5b;
  --priority-bg: rgb(182, 117, 57);
}

.priority-menu-option:hover {
  background-color: hsl(0, 65%, 20%);
}

.priority-menu-option.medium-priority:hover {
  background-color: rgb(46, 116, 125);
  color: hsl(171, 37%, 70%);
}

.priority-menu-option.low-priority:hover {
  background-color: hsl(35, 5%, 48%);
  color: #c2c2c2;
}

.priority-menu-option.high-priority:hover {
  background-color: rgb(182, 117, 57);
  color: #eebb5b;
}
